.card{
    height: 250px;
    width: 250px;
    background-color: lightblue;
}
.popup{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 500px;
    width: 500px;
    background-color: #F7F7F7;
    border: 1px solid lightgray;
    border-radius: 30px;
}