body{
    display: flex;
    gap: 3rem;
    flex-wrap: wrap;
    padding-top: 5rem;
}
p{
    margin: 14px auto 14px;
}
#new{
    position: absolute;
    top: 2.5%;
}
.card{
    height: 250px;
    width: 250px;
    background-color: lightslategray;
    color: white;
    font-size: 1.5rem;
    padding: 1rem;
}
.popup{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 500px;
    width: 500px;
    background-color: #F7F7F7;
    border: 1px solid lightgray;
    border-radius: 30px;
}
form{
    display: grid;
    grid-template-columns: 1fr 2fr;
}
label{
    margin-left: 2rem;
}
form > input{
    width: 80%;
}
button{
    height: 40px;
    width: 100px;
    border: 1px solid lightgray;
    border-radius: 10px;
    margin-right: 1rem;
    cursor: pointer;
}
.read{
    background-color: lightblue;
}
.remove{
    background-color: lightcoral;
}