body{
    display: flex;
    gap: 3rem;
    flex-wrap: wrap;
    padding-top: 5rem;
    margin: 0;
}
#new{
    position: absolute;
    top: 0%;
    width: 100%;
    height: 5rem;
    border-radius: 0;
    background-color: lightgreen;
    color: white;
    font-size: 4rem;
}
.card{
    height: 250px;
    width: 250px;
    background-color: lightslategray;
    color: white;
    font-size: 1.5rem;
    padding: 1rem;
}
.card > button{
    margin-right: 1rem;
}
.popup{
    position: absolute;
    display: flex;
    flex-direction: column-reverse;
    justify-content: start;
    gap: 1rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 250px;
    width: 500px;
    background-color: #F7F7F7;
    border: 1px solid lightgray;
    border-radius: 30px;
    padding: 3rem;
    font-size: 1.5rem;
}
.popup >button{
    width: 100%;
}
form{
    display: grid;
    grid-template-columns: 35% 65%;
    gap: 10px;
    margin-bottom: 10px;
}
form > input{
    width: 100%;
}
button{
    height: 40px;
    width: 100px;
    border: 1px solid lightgray;
    border-radius: 10px;
    cursor: pointer;
}
.read{
    background-color: lightblue;
}
.remove{
    background-color: lightcoral;
}
#red{
    background-color: none;
    border: 3px solid red;
    color: red;
}
#green{
    background-color: none;
    border: 3px solid green;
    color: green;
}
/* comment */